<!DOCTYPE html>
<html>
  <head>
    <title>Food truck Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css">

    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js" type="text/javascript"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&API_KEY=AIzaSyB99_r-84VyVficwEHNY4-Zgpsf9XxAHB0&sensor=false"></script>
    <script src="{{url_for('static', filename='js/maps.js')}}"></script>

  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>